.idea/misc.xml
.idea/modules.xml
.idea/Turtle corssing game.iml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/car_manager.cpython-39.pyc
__pycache__/player.cpython-39.pyc
__pycache__/scoreboard.cpython-39.pyc
